[Desktop Entry]
Name=xAutoClick
Comment=autoclicker for linux
Exec=gautoclick2
Icon=xautoclick
Terminal=false
Type=Application
Categories=System;Utility;Application;
